name: Release wheels for win
on:
  workflow_dispatch:
  release:
    types: [published, edited]


jobs:
  release_windows_fast:
    name: Build ${{ matrix.os }} Py${{ matrix.python-version }}
    strategy:
      matrix:
        os: [windows-latest]
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13', '3.13t']
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel twine
          pip install -r requirements.txt

      - name: Get latest release
        id: release
        shell: bash
        run: |
          response=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/JiaPai12138/OpenSSL-Win64-Static-Builds/releases/latest)

          if echo "$response" | grep -q "Not Found"; then
            echo "Release not found"
          else
            tag=$(echo "$response" | jq -r .tag_name)
            curl -L -o openssl-static.7z \
            https://github.com/JiaPai12138/OpenSSL-Win64-Static-Builds/releases/download/$tag/openssl-static.7z

            7z x openssl-static.7z
            ls -R "${{ github.workspace }}/"
          fi

      - name: Set env for openssl-sys (Windows)
        run: |
          echo "OPENSSL_LIB_DIR=${{ github.workspace }}/openssl_x64-windows-static-md/lib/" >> $env:GITHUB_ENV
          echo "OPENSSL_INCLUDE_DIR=${{ github.workspace }}/openssl_x64-windows-static-md/include" >> $env:GITHUB_ENV

      - name: Build wheels with maturin
        run: |
          maturin build --release --strip -i python --target x86_64-pc-windows-msvc

      - name: Install built package
        run: |
          pip install rfernet --no-index --find-links target/wheels

      - name: Run tests
        run: |
          pytest tests/

      - name: Upload all wheels
        uses: actions/upload-artifact@v6
        with:
          name: rfernet-${{ matrix.python-version }}
          path: ./target/wheels/*.whl

      - name: Update GitHub Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.release.tag_name }}
          name: ${{ github.event.release.name }}
          draft: false
          prerelease: false
          files: |
            ./target/wheels/*.whl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload wheels to PyPI
        env:
          TWINE_PASSWORD: ${{secrets.TWINE_PASSWORD}}
          TWINE_USERNAME: ${{secrets.TWINE_USERNAME}}
        if: env.TWINE_USERNAME != '' && env.TWINE_PASSWORD != ''
        run: twine upload --non-interactive --skip-existing ./target/wheels/*
